name: Live Stream From GitHub Link

on:
  workflow_dispatch:

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Stream to YouTube
        run: |
          # Aapka naya video link yahan update kar diya gaya hai
          VIDEO_URL="https://github.com/arvindthakor01/My-live-stream/releases/download/v1/km_20260106_720p_30f_20260107_064541.mp4"
          
          # FFmpeg command: Loop (-1) ke saath stream shuru hogi
          ffmpeg -re -stream_loop -1 -i "$VIDEO_URL" \
          -c:v libx264 -preset veryfast -b:v 3000k -maxrate 3000k -bufsize 6000k \
          -pix_fmt yuv420p -g 60 -c:a aac -b:a 128k -ar 44100 \
          -f flv "rtmp://a.rtmp.youtube.com/live2/z2vw-19w1-uq8z-zs2f-5j0y"
