name: Live Stream From GitHub Link
on:
  workflow_dispatch:

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Stream to YouTube
        run: |
          # Aapka video link
          VIDEO_URL="https://github.com/arvindthakor01/My-live-stream/releases/download/untagged-5a123363e9d371de0e77/km_20260104_720p_30f_20260104_134340.mp4"
          
          # Nayi Stream Key ke saath FFmpeg command
          ffmpeg -re -stream_loop -1 -i "$VIDEO_URL" \
          -c:v libx264 -preset veryfast -b:v 2500k -maxrate 2500k -bufsize 5000k \
          -pix_fmt yuv420p -g 60 -c:a aac -b:a 128k -ar 44100 \
          -f flv "rtmp://a.rtmp.youtube.com/live2/R4q6-qczk-kjrp-aw7u-bjfr"
